* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 0.5;
  display: none;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* end of scroll bar */
.section {
  width: 100vw;
  height: 100vh;
  background-color: #f6f5f7;
}
.heading {
  text-align: center;
  margin: 4rem 0;
  font-size: 3rem;
  font-weight: 300;
}
.form {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.form input {
  margin-bottom: 1rem;
  width: 60vw;
  height: 5vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  font-family: 'Montserrat' sans-serif;
  font-weight: 500;
  font-size: 1rem;
  outline: none;
}
.form input:focus {
  border: 1px solid #000;
}
.labelHidden {
  display: none;
}
.btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  margin-top: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.btnHidden {
  display: none;
}
.member {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
  margin-bottom: 1rem;
}
.member a {
  text-decoration: none;
  transition: all 0.3s;
}
.member a:hover {
  color: #000;
  text-decoration: underline;
}
.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alternatebtn {
  width: 17rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  margin-top: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.alternatebtn:hover {
  background-color: #fff;
  color: #000;
}
.or {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  position: relative;
}
.loginform {
  margin-top: 0;
}
.loginLink {
  cursor: pointer;
}
.loginLinkDiv {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.alertBox {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  width: 20%;
  padding: 1.2rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.3125rem;
  display: none;
  z-index: 1000;
  transform: translate(10%, 30%);
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .alertBox {
    width: 80%;
    padding: 0.8rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.alert {
  display: block;
  background-color: crimson;
  color: #fff;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
/* home / navbar */
/* .homeHidden {
  display: none;
}
.profilePageHidden {
  display: none;
}
.messagePageHidden {
  display: none;
} */
.homeContainer {
  width: 100vw;
  height: 100vh;
  background-color: #f6f5f7;
  display: flex;
  flex-direction: row;
  margin: 0 10rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .homeContainer {
    margin: 0;
  }
}
.navbarContainer {
  width: 30rem;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.navbar {
  background-color: #fff;
  display: flex;
}
.navBtn {
  width: auto;
  box-shadow: none;
  border: none;
  margin-right: 0.5rem;
}
.listItem {
  width: auto;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.listItem:hover {
  background-color: #000;
  color: #fff;
}
.navLink {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}
.navLinkActive {
  color: #8a2be2;
}
.hover-color {
  color: #fff;
}
.profileNavbar {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.profileNavbar:hover {
  background-color: #ccc;
}
.profilePic {
  margin-left: 0.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.profilePic:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.name {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 0.2rem;
}
.username {
  font-size: 0.8rem;
  font-weight: 300;
}
.fa-chevron-down {
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  transition: all 0.3s;
  margin-right: 0.2rem;
}
/* end of navbar */
/* home / tweets */
.targetHeading {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.followingButton {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s;
  cursor: default;
}
.followingButton:hover {
  background-color: #ccc;
}
.tweets {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}
.tweet {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s;
}
.tweet:hover {
  background-color: #ccc;
}
.newTweet {
  background-color: bisque;
}
.tweet:hover .tweetComments {
  background-color: #f6f5f7;
}
.tweetLoading {
  border-color: #000;
}
/* end of to do */

.tweetCommentsHidden {
  display: none;
}
.tweetComments {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.tweetProfilePic {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
  transition: all 0.3s;
}
.tweetProfilePic:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.profileName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}
.tweetName {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.tweetTime {
  margin-left: auto;
}
.tweetText {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.tweetText img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.tweetChoices {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tweetChoice {
  margin-right: 1rem;
  padding: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
}
.tweetChoiceActive {
  color: #8a2be2;
  transition: all 0.3s;
  transform: scale(1.1);
}
.tweetChoice:hover {
  color: #fff;
  transform: scale(1.1);
}
.postTweetHidden {
  display: none;
}
.postTweet {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  display: flex;
  top: 50%;
  left: 10%;
  z-index: 10000;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.postTweetX {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1rem;
  margin-right: auto;
  cursor: pointer;
}
.postTweetInput {
  width: 90%;
  height: auto;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  margin: 1rem;
  margin-bottom: 0;
  border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  resize: none;
}
.postTweetButton {
  width: 50%;
}
/* end of tweets */
/* home / search */
.search {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.searchBarInput {
  width: 45%; /* to do */
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  margin: 1rem;
  margin-bottom: 0;
  margin-right: auto; /* to do */
}
.searchBarInput:focus {
  border: 1px solid #000;
}
.searchResults {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  margin: 1rem;
  margin-top: 0;
}
.searchResult {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}
.searchResult:hover {
  background-color: #ccc;
}
.searchImg {
  margin-right: 0rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.searchName {
  margin-right: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.searchUsername {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.whoToFollowHeading {
  margin: 1rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.whoToFollow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
  background-color: #f6f5f7;
  margin-right: auto; /* to do */
  padding: 1rem;
  border-radius: 10px;
  max-width: 70%;
}
.suggestionAccount {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}
.suggestionAccount:hover {
  transform: translateY(-5px);
}
.suggestionImg {
  margin-right: 0rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.suggestionName {
  margin-right: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.suggestionUsername {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
}
.followButton {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 500;
  font-size: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.followButton:hover {
  background-color: #ccc;
}
/* end of search */
/* profile page */
.profileHeader {
  border-bottom: 1px solid #ccc;
  position: relative;
}
.backColumn {
  /* margin: 1rem; */
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* position: fixed; */ /* to do */
}
.fa-arrow-left {
  cursor: pointer;
  transition: all 0.3s;
}
.profileBannerPic {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.imgAndEdit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  /* position: relative; */
}
.mainProfilePic {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-right: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  position: absolute;
  top: 27%;
  left: 7%; /*img position */
  border: 5px solid #fff;
  z-index: 1000;
}
.mainProfilePic:hover {
  transform: scale(1.1);
}
.editProfileButton {
  margin-right: 3rem;
  padding: 0.5rem 1.5rem;
}
.followUnfollowButton {
  margin-right: 3rem;
  padding: 0.5rem 1.5rem;
}
.directMessageButton {
  /* to do.. check */
  margin-right: 3rem;
  padding: 0.5rem 1.5rem;
}
.mainProfileNameDiv {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.bio {
  margin: 0.5rem 0;
  font-size: 1rem;
  width: auto;
}
.profileCount {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.countItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 1rem;
  font-size: 0.8rem;
}
.countNumber {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 0.2rem;
}
.profileNavigationButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
.profileNavButton {
  margin-bottom: 0;
  font-size: 0.8rem;
  cursor: pointer;
}
.profileNavButtonActive {
  background-color: #ccc;
}
/* edit profile */
.editProfile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 50vw;
  height: 80vh;
  background-color: #fff;
  display: flex;
  top: 50%;
  left: 10%;
  z-index: 10000;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.editProfileHeading {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.editProfileForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.editProfileButtons {
  display: flex;
}
.editProfileInput {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.editProfileFormBio {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  resize: none;
}

.editProfileCancelButton {
  margin-left: 1rem;
}
/* end of edit profile */
/* end of profile page */
/* messages page */
.messagesView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}
.messagesViewHidden {
  display: none;
}
.messageProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.messageProfile:hover {
  background-color: #ccc;
}
.messageViewProfilePictureContainer {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messageViewProfilePicture {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}
.messageViewHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 100%;
}
.messageViewInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.messageViewName {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.messageViewUsername {
  font-size: 0.8rem;
  font-weight: 300;
}
.messageViewDate {
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: auto;
  margin-right: 1rem;
}
.lastMessage {
  font-size: 0.8rem;
  font-weight: 300;
}
/*  */

.messagesDetailsHidden {
  display: none;
}
.messageDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 38rem; /* height of message details */
  width: 100%;
}
.messageDetailsHidden {
  display: none;
}
.messageDetailsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 41.5rem; /*fixed width*/
}
@media screen and (max-width: 1200px) {
  .messageDetailsHeader {
    border-bottom: none;
  }
}
.messageDetailsInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.messageDetailsName {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.messageDetailsUsername {
  font-size: 0.8rem;
  font-weight: 300;
}
.messageDetailsProfilePictureContainer {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messageDetailsProfilePicture {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}
.messageDetailsMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  margin-top: 7rem;
  height: auto;
}
.messageDetailsMessage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  width: 100%;
  flex-shrink: 0;
}
.messageDetailsMessageText {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #e0e0e0;
  /* background-color: #8a2be2; */
  width: 70%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.messageDetailsMessageTextSent {
  margin-left: auto;
  background-color: #8a2be2;
  color: #fff;
}
.messageDetailsMessageTime {
  font-size: 0.6rem;
  font-weight: 300;
  /* margin-right: auto; */
  /* margin-left: auto; */
}
.messageDetailsMessageTimeReceived {
  margin-right: auto;
}
.messageDetailsMessageTimeSent {
  margin-left: auto;
}
.messageDetailsInput {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.messageDetailsInputHidden {
  display: none;
}
.messageDetailsInputText {
  width: 90%;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 10px;
  outline: none;
  margin: 0.5rem;
  margin-bottom: 0;
  border: none;
  resize: none;
  background-color: #e0e0e0;
  transition: all 0.3s;
}
.messageDetailsInputText:focus {
  border: 1px solid #000;
}
.messageDetailsInputButton {
  margin-right: 1rem;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: none;
}
/* end of messages page */
/* lost page */
.lostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lostParagraph {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem;
}
.lostLink {
  font-weight: 600;
  color: #8a2be2;
  cursor: pointer;
  transition: all 0.3s;
}
.lostLink:hover {
  color: #000;
}
/* end of lost page */
/* settings page */
.passwordDivHidden {
  display: none;
}
.passwordDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 1rem;
}
.passwordDiv input {
  margin-bottom: 1rem;
  height: 5vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  font-family: 'Montserrat' sans-serif;
  font-weight: 500;
  font-size: 1rem;
  outline: none;
}
.passwordDiv input:focus {
  border: 1px solid #000;
}
.passwordMessage {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: #8a2be2;
}
/* end of settings page */
