
.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alternatebtn {
  width: 17rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  margin-top: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.alternatebtn:hover {
  background-color: #fff;
  color: #000;
}
.or {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  position: relative;
}
.loginform {
  margin-top: 0;
}
